$main-color: #007c5d;
$main-color-light: #00bc8c;
$bcg-color: #222222;
$bcg-color-light: #333333;
$bcg-color-hover: #444444;
$bcg-border-color: #555555;
$incorrectly-color: #d62c1a;
$correctly-color: #00bc8c;
$text-color: #ffffff;
$timeline: gray;