.footer {
  flex-shrink: 0;
  &__wrap {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  &__logo {
    height: auto;
    width: 80px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      transition: 0.3s all;
    }
  }
  &__copyright {
    margin-left: auto;
    text-decoration: none;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      transition: 0.3s all;
    }
  }
}