.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  &__desc {
    grid-column: 1/3;
  }
  &__video-container {
    position: relative;
    height: 350px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: 
    url('assets/icons/speaker.svg') 4 1, 
    pointer;
  }
  &__video {
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
  }
  &__button {
    grid-column: 1/3;
  }
}